<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lorem</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis tenetur provident pariatur ipsa voluptas et
        ducimus quo eum consequatur beatae sit earum, cupiditate dolorum fugiat? Libero velit accusamus numquam sit!
    </h1>
    <img src="images/images.jpeg" alt="bat man image " />
</body>

</html>